<main class="p-3">
    <div class="card p-3">
        <p class="tst">
            Hello, world!!
        </p>
        <p class="tst2">
            Hello, world!!
        </p>
    </div>

    <span class="t1">testo-testo</span>


</main>