/* .card > p {
  color: #00aa00;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

.tst {
  text-align: center;
}

.tst2 {
  text-align: justify;
} */

/* * {
  font-family: 'Kelly Slab', cursive;
} */

/* .tst {
  font-size: xx-small;
}
.tst2 {
  font-size: xx-large;
  display: none;
} */

/* .t1 {
  display: block;
  margin: auto;
  background: yellow;
  width: min-content;
} */
